<!doctype html>
<html>
    <head>
        <title>Audio seLActor</title>
        <meta encoding="utf-8">
        <!-- Load Roboto & Icons -->
        <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="styles/default.css"/>
    </head>
    <body>
        <div id="app">
            <header class="header-layout">
                <!-- Title -->
                <span class="navigation-title">LA's list of filth</span>
                <!-- Add spacer, to align navigation to the right -->
                <div class="navigation-spacer"></div>
                <!-- Navigation -->
                <nav class="navigation-links">
                    <a class="navigation__link" href="#">Audio List</a>
                    <a class="navigation__link" href="./random.html">Random Audio</a>
                </nav>
            </header>
            
            <div class="search-box">
                <form action="#">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" id="tag-search" v-on:keyup="filter_tags()">
                        <label class="mdl-textfield__label" for="tag-search" >Search for a tag...</label>
                    </div>
                </form>
            </div>
            <div class="tag_list" style="width: 80%; margin: 0 auto; ">
                <span style="font-weight: bold">...or filter them here.</span>
                <span v-if="show_taglist" v-on:click="toggle_tag_list" style="font-size: 8pt; color: #888; cursor: pointer;">(Hide)</span>
                <span v-if="!show_taglist" v-on:click="toggle_tag_list" style="font-size: 8pt; color: #888; cursor: pointer;">(Show) </span>
                <div v-bind:class="get_tag_list_class()">
                    <span class="hint">You can also use the above input to filter tags in here if you're looking for audios with multiple tags.</span>
                    <span v-for="tag in shown_tags" v-bind:class="get_pill_for_tag(tag.tagname)" v-on:click="toggle_tag_filter(tag.tagname)">
                        <span>{{tag.tagname}}</span>
                    </span>
                </div>
            </div>
            <hr>
            <div class="audio-list mdl-list" style="width: 80%; margin: 0 auto;">
                <div class="single-audio mdl-list__item mdl-list__item--three-line" v-for="audio in filtered_audio_list">
                    <div class="icon"><i class="material-icons">{{get_icon_for_tags(audio.tags)}}</i></div>
                    <div class="content">
                        <span class="audio-title"><a v-bind:href="audio.link">{{audio.title}}</a></span>
                            <span v-bind:class="get_pill_for_tag(tag)" v-for="tag in audio.tags">
                                <span>{{tag}}</span>
                            </span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
        <script src="js/audios.js"></script>
        <script src="js/tags.js"></script>
        <script src="js/app.js"></script>
    </body>
</html>