<!doctype html>
<html>
    <head>
        <title>Audio seLActor</title>
        <meta encoding="utf-8">
        <!-- Load Roboto & Icons -->
        <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="styles/default.css"/>
    </head>
    <body>
        <div id="app">
                <header class="header-layout">
                        <!-- Title -->
                        <span class="navigation-title">LA's list of filth</span>
                        <!-- Add spacer, to align navigation to the right -->
                        <div class="navigation-spacer"></div>
                        <!-- Navigation -->
                        <nav class="navigation-links">
                            <a class="navigation__link" href="#">Audio List</a>
                            <a class="navigation__link" href="random.html">Random Audio</a>
                        </nav>
                    </header>
            
            <div class="search-box" style="width: 80%; margin: 20px auto; text-align: center;">
                <button v-on:click="get_random_audio" class="mdl-button">
                    Give me another one.
                </button>
            </div>
            <ul class="audio-list mdl-list" style="width: 80%; margin: 0 auto;">
                <li class="single-audio mdl-list__item mdl-list__item--three-line">
                    <span v-model="random_audio" class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">{{get_icon_for_tags(random_audio.tags)}}</i>
                        <span class="audio-title"><a v-bind:href="random_audio.link">{{random_audio.title}}</a></span>
                        <span class="tags mdl-list__item-text-body">
                            <span v-bind:class="get_pill_for_tag(tag)" v-for="tag in random_audio.tags">
                                <span>{{tag}}</span>
                            </span>
                        </span>
                    </span>
                </li>
            </ul>
        </div>
        <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
        <script src="js/audios.js"></script>
        <script src="js/tags.js"></script>
        <script src="js/app-random.js"></script>
    </body>
</html>